body {
    background: url("../img/rana-sawalha-364253-unsplash.png") no-repeat center fixed;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.header-background {
    width: 100%;
    height: 54px;
    background-color: rgba(0,0,0,0.38);
    margin-bottom: 65px;
}

.header-content {
    padding: 18px;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
    float: left;
}

.header-logo:hover {
    transition: 0.4s color linear;
    color: #3cb878;
}

.header-icon {
    width: 23px;
    height: 23px;
    background: url("../img/css_sprites.png") no-repeat;
    float: right;
    margin-right: 28px;
}

.ico-calendar {
    cursor: pointer;
    background-position: -49px -50px;
}

.ico-forum {
    cursor: pointer;
    background-position: -12px -10px;
    width: 27px;
}

.ico-journey {
    cursor: pointer;
    background-position: -10px -49px;
}

.header-text {
    color:  white;
    font-size: 14px;
    line-height: 21px;
    float: right;
}

.header-text a{
    text-decoration: none;
}

.form-shape {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.form-shape:before {
    content: '';
    border: 9px solid #3cb878;
    position: absolute;
    top: 30px;
}

.form-container {
    width: 325px;
    margin: 0 auto;
}

.form-head {
    width: 100%;
    padding-top: 28px;
    margin-bottom: 15px;
}

.form-signup {
    color:  #434343;
    font-size: 20px;
    font-weight: 400;

    float: left;
}

.form-login {
    color:  #3cb878;
    font-size: 14px;
    line-height: 21px;
    float: right;
    text-decoration: none;
}

.form-login:hover {
    text-decoration: underline;
}

.form-text {
    color: #434343;
    font-size: 14px;
    line-height: 21px;
}

.networks-button {
    width: 157px;
    height: 46px;
    border-radius: 3px;
    float: left;
    position: relative;
}

.networks-button:nth-child(2n){
    margin-left: 11px;
}

.nw-blue {
    background-color: #305db8;
}

.nw-red {
    background-color: #df4a32;
}

.nw-text {
    color:  #ffffff;
    text-decoration: none;
    position: absolute;
    left: 47px;
    top: 16px;
}

.nw-text:before {
    content: '';
    border: 1px solid transparent;
    border-left-color: rgba(0,0,0,0.2);
    margin-right: 18px;
}

.sprite-facebook {
    object-fit: none;
    object-position: -103px -10px;
    width: 10px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 13px;
}

.sprite-google {
    object-fit: none;
    object-position: -58px -10px;
    width: 25px;
    height: 16px;
    position: absolute;
    left: 13px;
    top: 15px;
}

.text-green {
    color: #3cb878;
}

.text-green:hover {
    text-decoration: underline;
}

.form-or {
    color: #434343;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    overflow: hidden;
    margin-top: 26px;
    margin-bottom: 14px;
}

.form-or span{
    position: relative;
}

.form-or span:before {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    top:50%;
    right: 25px;
}

.form-or span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    top:50%;
    left: 25px;
}

.form-input {
    width: 322px;
    height: 46px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 3px;
    margin-bottom: 9px;
}

.form-input::placeholder {
    color:  #bebebe;
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
}

.form-input::placeholder:hover {
    color:  #434343;
}

.input-active {
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    margin-bottom: 19px;
}

.form-input:hover {
    transition: 0.2s linear;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    margin-bottom: 19px;
}

.input-active::placeholder {
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.form-checkbox {
    margin-top: 20px;
    margin-bottom: 25px;
}

.form-button {
    width: 322px;
    height: 46px;
    background: #3cb878;
    border-radius: 3px;
    border: none;
}

.form-button-text {
    color:  #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}
