body {
    background: url("../img/rana-sawalha-364253-unsplash.png") no-repeat center fixed;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
}

.vert-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 54px);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,0.38);
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
    float: left;
}

.navbar-logo:hover {
    transition: 0.4s color linear;
    color: #3cb878;
}

.navbar-right {
    float: right;
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 23px;
    height: 23px;
    background: url("../img/css_sprites.png") no-repeat;
    margin-right: 28px;
    display: inline-block;
}

.navbar-icon:hover {
    background: url("../img/css_sprites _HOVER.png") no-repeat;
}

.ico-calendar {
    cursor: pointer;
    background-position: -50px -50px;
}

.ico-calendar:hover {
    cursor: pointer;
    background-position: -10px -50px;
}

.ico-forum {
    cursor: pointer;
    background-position: -11px -10px;
    width: 27px;
}

.ico-forum:hover {
    cursor: pointer;
    background-position: -11px -10px;
}

.ico-journey {
    cursor: pointer;
    background-position: -10px -49px;
}

.ico-journey:hover {
    cursor: pointer;
    background-position: -58px -9px;
}

.navbar-text {
    color:  white;
    font-size: 14px;
    display: inline-block;
}

.navbar-text a{
    text-decoration: none;
}

.form-shape {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0 60px 30px 60px;
    box-sizing: border-box;
}

.form-shape:before {
    content: '';
    border: 9px solid #3cb878;
    position: absolute;
    top: 30px;
    left: 0;
}

.form-container {
    width: 325px;
    margin: 0 auto;
}

.form-head {
    padding-top: 28px;
    margin-bottom: 15px;
}

.form-signup {
    color:  #434343;
    font-size: 20px;
    font-weight: 400;

    float: left;
}

.form-login {
    color:  #3cb878;
    font-size: 14px;
    line-height: 21px;
    float: right;
    text-decoration: none;
}

.form-login:hover {
    text-decoration: underline;
}

.form-text {
    color: #434343;
    font-size: 14px;
    line-height: 21px;
}

.networks-button {
    width: 153px;
    height: 43px;
    border-radius: 3px;
    float: left;
    position: relative;
    border: none;
    cursor: pointer;
}

.networks-button:nth-child(2n){
    margin-left: 11px;
}

.nw-blue {
    background-color: #305db8;
}

.nw-blue:hover {
    background-color: #214997;
}

.nw-red {
    background-color: #df4a32;
}

.nw-red:hover {
    background-color: #c43f28;
}

.nw-text {
    color:  #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    left: 47px;
    top: 11px;
}

.nw-text:before {
    content: '';
    border: 1px solid transparent;
    border-left-color: rgba(0,0,0,0.2);
    margin-right: 18px;
}

.sprite-facebook {
    object-fit: none;
    object-position: -103px -10px;
    width: 10px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 11px;
}

.sprite-google {
    object-fit: none;
    object-position: -58px -10px;
    width: 25px;
    height: 16px;
    position: absolute;
    left: 13px;
    top: 13px;
}

.text-green {
    color: #3cb878;
}

.text-green:hover {
    text-decoration: underline;
}

.form-or {
    color: #434343;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    overflow: hidden;
    margin-top: 26px;
    margin-bottom: 14px;
}

.form-or span{
    position: relative;
}

.form-or span:before {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    top:50%;
    right: 25px;
}

.form-or span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    top:50%;
    left: 25px;
}

.form-input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 3px;
    margin-bottom: 9px;
    outline: none;
    padding-left: 15px;
    box-sizing: border-box;
}

.form-input::placeholder {
    color:  #bebebe;
    font-size: 14px;
    line-height: 21px;
}

.form-input:hover {
    transition: 0.2s linear all;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    bottom: 10px;
}

.form-input:hover::placeholder {
    transition: 0.2s color linear;
    color:  #434343;
}

.input-active {
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    outline: none;
    padding-left: 15px;
    box-sizing: border-box;
}

.input-active::placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color:  #434343;
}

.form-checkbox {
    margin-top: 20px;
    margin-bottom: 25px;
}

.form-button {
    width: 322px;
    height: 46px;
    background: #3cb878;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color:  #fff;
    font-size: 16px;
}

.form-button:hover {
    background-color: #2f9b65;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
